@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Major+Mono+Display&family=Press+Start+2P&family=Roboto:wght@300;400&display=swap');

.home-container {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.landing-section {
    height: 80vh;
    /* background: linear-gradient(to bottom, hsl(180, 100%, 40%), hsl(180, 100%, 5%)); */
    background: url('../assets/techo-bg.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    margin: 5rem auto;
    width: 85%;
    height: 70vh;
    background: var(--bs-lighter-dark-blue);
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
}

.section .img {
    width: 50%;
    background-color: var(--bs-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 1rem 1rem 0;
}
.section .text {
    width: 50%;
    padding: 5rem 2rem;
    font-family: 'Comfortaa', cursive;
    color: white;
}
.section1 {
    display: block;
    position: relative;
}
.section1 .img{
    background: url('../assets/bg-img.jpg');
    filter: blur(3px) sepia(90%) contrast(50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.section.section1 .text {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5rem 8rem;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.section.section1 .text p {
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.section2 .img {
    background: url('../assets/faq\ 1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section3 .img {
    background: url('../assets/inquisitive\ box.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* GLITCH CODE */
.glitch {
    font-size: 8rem;
    animation: glitch 1s 1.5s forwards;
    font-family: 'Press Start 2P', monospace;
}

@keyframes glitch {
    100%{
        font-family: 'Major Mono Display', monospace;
        font-size: 10rem;
    }
    0%,50%,100%{
    transform: skewX(0deg) translateX(0px) scale(1,1);
        text-shadow: 0px 0 0.2rem cyan;
      clip-path: none;
      
    }
    5%,15%,25%{
    transform: skewX(12deg) translateX(-5px) scale(1,-1);
         text-shadow: 0px -2rem magenta, -5px 5px #fe0000;
      
    }
    10%,30%{
    transform: skewX(25deg) translateX(15px) scale(1,1);
        text-shadow: -1rem 2rem yellow;
        font-size: 10rem;
    }
    35%,45%{
    transform: skewX(-12deg) translateX(-5px) scale(1,1);
        text-shadow: -1rem 2rem #fe0000, -10px 0px #ff00fe;
      
    }
    11%, 14% {
      clip-path: polygon(100% 0, 0 18%, 99% 46%, 0 78%, 100% 100%, 100% 57%, 0 100%, 100% 76%, 0 59%, 100% 35%, 0 37%, 100% 21%);
    }
    12%, 16% {
      clip-path: polygon(0 51%, 0 29%, 100% 0, 0 14%, 99% 57%, 100% 23%, 0 100%, 100% 72%, 0 0, 100% 100%);
    }
    13%, 17% {
      clip-path: polygon(0% 0%, 99% 0%, 99% 8%, 0% 7%, 0% 14%, 99% 15%, 100% 22%, 0% 22%, 0% 30%, 99% 30%, 99% 39%, 0% 37%, 0% 43%, 100% 45%, 100% 50%, 0% 49%, 0% 56%, 99% 57%, 99% 63%, 0% 63%, 0% 68%, 99% 68%, 99% 75%, 0% 76%, 0% 81%, 100% 83%, 100% 89%, 0% 88%, 0% 94%, 100% 95%, 100% 100%, 0% 99%);
    }
}