@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Major+Mono+Display&family=Press+Start+2P&family=Roboto:wght@300;400&display=swap');

.home-container {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.landing-section {
    height: 90vh;
    /* background: linear-gradient(to bottom, hsl(180, 100%, 40%), hsl(180, 100%, 5%)); */
    background: url('../assets/techo-bg.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.section {
    margin: 5rem auto;
    width: 85%;
    height: 70vh;
    /* background: var(--bs-lighter-dark-blue); */
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
}

.section .img {
    width: 50%;
    background-color: var(--bs-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.section .text {
    width: 50%;
    padding: 5rem 2rem;
    font-family: 'Comfortaa', cursive;
    color: white;
}
.text p {
    margin: 2rem;
}
.section1 {
    display: block;
    position: relative;
}
/* .section1 .img{
    background: url('../assets/bg-img.jpg');
    filter: blur(3px) sepia(90%) contrast(50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
} */

.section.section1 .text span {
    animation: flicker 1s infinite;
}

.section.section1 .text {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5rem 8rem;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.section.section1 .text p {
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.section button {
    width: 12rem;
    height: 4rem;
    background: var(--bs-dark-blue);
    border: 1px solid white;
    border-radius: 1rem;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.section button:hover {
    background: white;
    color: var(--bs-dark-blue);
}

.section2 .img {
    background: url('../assets/faq\ 1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section3 .img {
    background: url('../assets/inquisitive\ box.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section3 .text strong {
    animation: glitch2 5s step-end infinite alternate, 
        glitch-skew 5s step-end infinite alternate;
}
/* GLITCH CODE */
.glitch {
    font-size: 8rem;
    animation: glitch 1s 1.5s forwards;
    font-family: 'Press Start 2P', monospace;
}

@keyframes glitch {
    100%{
        font-family: 'Major Mono Display', monospace;
        font-size: 10rem;
    }
    0%,50%,100%{
        transform: skewX(0deg) translateX(0px) scale(1,1);
        text-shadow: 0px 0 0.2rem cyan;
        clip-path: none;
    }
    5%,15%,25%{
        transform: skewX(12deg) translateX(-5px) scale(1,-1);
        text-shadow: 0px -2rem magenta, -5px 5px #fe0000;
    }
    10%,30%{
        transform: skewX(25deg) translateX(15px) scale(1,1);
        text-shadow: -1rem 2rem yellow;
        font-size: 10rem;
    }
    35%,45%{
        transform: skewX(-12deg) translateX(-5px) scale(1,1);
        text-shadow: -1rem 2rem #fe0000, -10px 0px #ff00fe;
    }
    11%, 14% {
        clip-path: polygon(100% 0, 0 18%, 99% 46%, 0 78%, 100% 100%, 100% 57%, 0 100%, 100% 76%, 0 59%, 100% 35%, 0 37%, 100% 21%);
    }
    12%, 16% {
        clip-path: polygon(0 51%, 0 29%, 100% 0, 0 14%, 99% 57%, 100% 23%, 0 100%, 100% 72%, 0 0, 100% 100%);
    }
    13%, 17% {
        clip-path: polygon(0% 0%, 99% 0%, 99% 8%, 0% 7%, 0% 14%, 99% 15%, 100% 22%, 0% 22%, 0% 30%, 99% 30%, 99% 39%, 0% 37%, 0% 43%, 100% 45%, 100% 50%, 0% 49%, 0% 56%, 99% 57%, 99% 63%, 0% 63%, 0% 68%, 99% 68%, 99% 75%, 0% 76%, 0% 81%, 100% 83%, 100% 89%, 0% 88%, 0% 94%, 100% 95%, 100% 100%, 0% 99%);
    }
}

@keyframes flicker {
    0% {
        text-shadow: -0.3rem -0.3rem 0.75rem white;
    }

    15% {
        text-shadow: none;
    }

    30% {
        text-shadow: -0.3rem 0.3rem 0.3rem white;
    }

    45% {
        text-shadow: none;
    }

    60% {
        text-shadow: 0.3rem 0.3rem 0.65rem white;
    }

    75% {
        text-shadow: none;
    }

    90% {
        text-shadow: 0.3rem -0.3rem 0.25rem white;
    }
}

@keyframes glitch2 {
  13% { 
    clip-path:polygon(90% 55%,20% 97%,85% 42%,20% 62%,6% 55%,76% 74%,68% 67%,49% 32%,47% 41%,2% 16%,95% 73%,68% 14%,35% 81%,31% 57%,29% 24%,57% 63%,52% 91%,45% 82%,6% 81%,82% 88%,30% 61%,70% 18%,15% 36%,16% 67%,74% 84%,21% 81%);
  }
  
  53% { 
    clip-path: polygon(46% 96%,51% 63%,92% 0%,47% 85%,26% 37%,15% 6%,16% 15%,64% 28%,69% 88%,50% 49%,29% 17%,91% 74%,54% 36%,85% 94%,89% 92%,96% 22%,47% 75%,51% 12%,12% 37%,1% 41%,63% 33%,90% 52%,48% 18%,5% 56%,77% 80%,60% 48%);
  }
  
  37% {
    clip-path: polygon(73% 96%,32% 94%,26% 33%,40% 16%,69% 28%,72% 42%,32% 33%,22% 3%,55% 64%,79% 57%,57% 39%,0% 44%,27% 36%,17% 32%,47% 35%,53% 10%,65% 96%,72% 51%,15% 56%,61% 21%,66% 29%,33% 7%,8% 86%,47% 89%,43% 56%,98% 7%);
  }
  
  62% {
    clip-path: polygon(44% 98%,91% 91%,90% 18%,72% 50%,63% 5%,36% 64%,23% 8%,43% 19%,88% 86%,7% 22%,37% 99%,71% 21%,76% 50%,100% 73%,5% 41%,65% 26%,19% 55%,36% 5%,11% 83%,28% 48%,36% 36%,9% 64%,64% 22%,66% 38%,80% 68%,69% 76%);
  }
  
  78%{
    clip-path: polygon(24% 46%,40% 79%,28% 54%,98% 82%,87% 67%,36% 71%,37% 29%,89% 26%,89% 21%,8% 8%,61% 35%,4% 23%,90% 77%,46% 98%,82% 6%,76% 94%,17% 52%,59% 22%,76% 92%,39% 44%,74% 97%,16% 6%,89% 84%,80% 52%,85% 55%,7% 91%);
  }
    14%,39%, 56%, 64%, 79%{ 
    clip-path: none;
  }
}

@keyframes glitch-skew {
  13% { 
    transform: skew(10deg, 10deg) scale(.6);
  }
  
  53% { 
    transform: skew(20deg, 50deg) scale(.6);
  }
  
  37% {
    transform: skew(-83deg, 17deg) scale(0.6);
  }
  
  78%{
    transform: skew(289deg, 18deg) scale(0.6);
  }
    14%,39%, 56%, 64%, 79%{ 
    transform: none;
  }
}