@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Major+Mono+Display&family=Press+Start+2P&family=Roboto:wght@300;400&display=swap');

.home-container {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.landing-section {
    height: 90vh;
    /* background: linear-gradient(to bottom, hsl(180, 100%, 40%), hsl(180, 100%, 5%)); */
    background: url('../assets/techo-bg.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.section {
    margin: 5rem auto;
    width: 85%;
    height: 70vh;
    /* background: var(--bs-lighter-dark-blue); */
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
}

.section .img {
    width: 50%;
    background-color: var(--bs-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.section .text {
    width: 50%;
    padding: 5rem 2rem;
    font-family: 'Comfortaa', cursive;
    color: white;
}
.text p {
    margin: 2rem;
}
.section1 {
    display: block;
    position: relative;
}
/* .section1 .img{
    background: url('../assets/bg-img.jpg');
    filter: blur(3px) sepia(90%) contrast(50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
} */

.section.section1 .text span {
    animation: flicker 1s infinite;
}

.section.section1 .text {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5rem 8rem;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.section.section1 .text p {
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.section button {
    width: 12rem;
    height: 4rem;
    background: var(--bs-dark-blue);
    border: 1px solid white;
    border-radius: 1rem;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.section button:hover {
    background: white;
    color: var(--bs-dark-blue);
}

.section2 .img {
    background: url('../assets/faq\ 1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section3 .img {
    background: url('../assets/inquisitive\ box.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section3 .text strong {
    animation: glitch2 5s step-end infinite alternate, 
        glitch-skew 5s step-end infinite alternate;
}
/* GLITCH CODE */
.glitch {
    font-size: 8rem;
    animation: glitch 1s 1.5s forwards;
    font-family: 'Press Start 2P', monospace;
}
